*{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  header{
    height: 200px;
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
  }
  
  header > div , main{
    width: 1200px;
  }
  
  
  .header_conteiner > img{
    width: 300px;
    height: 150px;
    margin-top: 80px;
  }
.conteiner{
    border: solid 20px white;
}

#title{
    font-family: 'Merriweather', serif;
  }
  
  #title > h1{
    font-size: 35px;
    margin-top: 20px;
  }
  
  #author{
    font-size: 15px;
    color: gray;
  }
  
  #author > span{
    color: lightskyblue;
  }
  
  #date{
    font-size: 10px;
    color: gray;
  }
  
  #photos p{
    font-size: 15px;
  }
  
  #article{
    font-size: 25px;
  }
  
  #part_1 > span{
    background-color: yellow;
  }
  
  #article > ul{
    padding-left: 25px;
  }
  
  thead{
    background-color: rgb(0, 153, 255);
  }
  
  tbody{
    background-color: rgb(0, 255, 255);
  }
  
  .blue{
    background-color: rgb(179, 255, 255);
  }
  
  .colonna1 .colonna2{
    width: 20%;
  }
  
  .colonna3 {
    width: 60%;
  }
/* #title {
    margin-bottom: 20px;
}

#title > h1{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}

#author{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: gray;
}

#author > span{
    color: rgb(6, 185, 245);
}

#date{
    font-size: 10px;
    color: gray;
}

#photos{
    margin-bottom: 20px;
}

#photos > p{
    font-size: 13px;
}

#article{
    margin-bottom: 20px;
    font-size: 25px;
}

#article1{
    margin-bottom: 20px;
}

#article1 > span,#article2 > span{
    background-color: yellow;
}

#article > ul{
    margin-bottom: 20px;
    padding-left: 20px;
}

table{
    margin-bottom: 20px;
}

thead{
    background-color: blue;
    color: white;
}

tbody > .lightblue{
    background-color: lightblue;
}

tbody > .lightlightblue{
    background-color: lightcyan
}
 */
