*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightskyblue;
    height: 100px;
    background-image: url("../img/pattern.png");
    background-size: contain;
}

main{
    border: solid 20px white;
}

#title {
    margin-bottom: 20px;
}

#title > h1{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}

#author{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: gray;
}

#author > span{
    color: rgb(6, 185, 245);
}

#date{
    font-size: 10px;
    color: gray;
}

#photos{
    margin-bottom: 20px;
}

#photos > p{
    font-size: 13px;
}

#article{
    margin-bottom: 20px;
    font-size: 25px;
}

#article1{
    margin-bottom: 20px;
}

#article1 > span,#article2 > span{
    background-color: yellow;
}

#article > ul{
    margin-bottom: 20px;
}

table{
    margin-bottom: 20px;
}

thead{
    background-color: blue;
    color: white;
}

tbody > .lightblue{
    background-color: lightblue;
}

tbody > .lightlightblue{
    background-color: lightcyan
}

